<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="form-vertical">
        <h1>hello there</h1>
        <!-- <h1 class="text-center">{{ page.title }}</h1>
                <h1>{{page.url}}</h1>
        <h1>{{request.path}}</h1>
        <h1>{{canonical_url}}</h1>

        <form
          action="https://2c80e726d44d.ngrok.io/customers/verify-otp"
          method="POST"
        >
          {% include 'form-status', form: form, form_id: formId %}

          <input
            type="hidden"
            name="shop"
            id="{{ formId }}-shop"
            value="{{ shop.domain }}"
          />

          <label for="{{ formId }}-otp">OTP</label>
          <input
            type="text"
            name="otp"
            id="{{ formId }}-otp"
            {%
            if
            form.otp
            %}value="{{ form.otp }}"
            {%
            endif
            %}
            autocomplete="given-name"
          />

          <p class="text-center">
            <input type="submit" value="Verify" class="btn" />
          </p>
        </form> -->
      </div>
    </div>
  </div>
</div>
